@model DATN_2022.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            Nhà cung cấp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer.Name)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            Ngày cập nhật lần cuối
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            Giá gốc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostPrice)
        </dd>

        <dt>
            Giá bán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellPrice)
        </dd>

        <dt>
            Số lượng còn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            Ảnh đại diện
        </dt>

        <dd>
            @{
                string imgPath = "~/wwwroot/images/" + Model.Avatar;
            }
            <img src="@Url.Content(imgPath)" width="300" class="img-thumbnail" />
            <br />
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay về", "Index")
</p>
